<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path('home') }}">Backoffice</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('articles') }}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('box_internet') }}">Box internet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('mobile') }}">Mobile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cartes') }}">Cartes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('exemple') }}">Exemple</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('source') }}">Source</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
